@model Sistema_UTH.Models.Estudiante

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>¿Seguro que quieres eliminar al alumno de la lista?</h3>
<div>
    <h4>Estudiante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApellidoPaterno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApellidoPaterno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApellidoMaterno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApellidoMaterno)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EstudianteId" />
        <input type="submit" value="Borrar" class="btn btn-default" /> |
        <a asp-action="Index">Regresar a la lista</a>
    </form>
</div>
