@model Paginacion<Sistema_UTH.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Crear nueva categoría</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-action">
        <p>
            Filtro: <input type="text" name="searchString" value="@ViewData["CurrentFilter"]"/>
            <input class="btn btn-success" type="submit" name="Buscar" value="Buscar"/>
            <a asp-action="Index">Mostrar lista</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NombreSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                    Nombre
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DescripcionSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                    Descripcion)
                </a>
            </th>
            <th>
                Estado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Editar" asp-route-id="@item.CategoriaId">Editar</a> |
                <a asp-action="Detalles" asp-route-id="@item.CategoriaId">Detalle</a> |
                <a class="btn btn-link disabled" asp-action="Borrar" asp-route-id="@item.CategoriaId">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{ 
    var preDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
 }

    <a class="btn btn-primary @preDisabled" asp-action="Index" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-page="@(Model.PageIndex-1)" asp-route-currentFilter="@ViewData["CurrentFilter"]">Atrás</a>
    <a class="btn btn-link @nextDisabled" asp-action="Index" asp-route-sortOrder="@ViewData["CurrentSort"]" asp_route-page="(@Model.PageIndex-1)" asp-route-currentFilter="@ViewData["CurrentFilter"]">Siguiente</a>